<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.chris.hqteach">
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".HQApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".RegisterActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask">

        </activity>
        <activity android:name=".BaseActivity"
                  android:configChanges="keyboard|orientation|screenSize">
        </activity>
        <activity
            android:name=".webview.WebViewActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".notification.NotificationActivity"
            android:launchMode="singleTask">
        </activity>

        <service
            android:name=".service.HQService"
            android:enabled="true"
            android:exported="false">
        </service>
        <service
            android:name=".service.DemonsService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
        </service>

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashThreme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>